/* main.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #01689b;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name {
    font-weight: bold;
}

.user-group {
    color: #bbb;
    font-size: 0.9em;
}

.logout-icon {
    margin-left: 12px;
    text-decoration: none;
    color: #fff; /* Red color for logout */
}

.logout-icon:hover {
    text-decoration: underline;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-secondary:hover {
    background-color: #5a6268;
    color: white;
}

.task-column{
    background-color: #01689b;
}

.settings-column{
    border: #000 solid 1px;
}

.task{
    margin: 5px;
    margin-bottom: 1em;
    color: #000;
}

.task :hover{
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
}
