{% extends 'base.html' %}

{% block content %}
<h2>Gearchiveerde Taken</h2>
<ul class="list-group">
    {% for task in archived_tasks %}
        <a href="{% url 'view_task' task.id %}" class="task">
            <li class="list-group-item">
                <strong>Land:</strong> {{ task.country }}<br>
                <strong>Sector:</strong> {{ task.sector }}<br>
            </li>
        </a>
    {% empty %}
        <li class="list-group-item">Geen gearchiveerde taken.</li>
    {% endfor %}
</ul>
<a href="{% url 'kanban_board' %}" class="btn btn-secondary">Terug naar hoofdscherm</a>
{% endblock %}
