{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kanban Board{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #f2f2f2;">
    <header class="header" style="padding-top: 0px; padding-bottom: 0px;">
        <img src="{% static 'nvwa_logo.svg'%}" alt="NVWA logo">
        <h1 style="text-align: center;">Kanban Board: Exportcertificering</h1>
        <div class="user-info">
            <span class="user-name">{{ user.username }}</span>
            {% if user.groups.all %}
                <span class="user-group">(
                    {% for group in user.groups.all %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                )</span>
            {% endif %}
            <a href="{% url 'logout' %}" class="logout-icon" title="Logout"><i class="fa fa-sign-out"></i></a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
