{% load static %}
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kanban Board{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #f2f2f2;">
    <header class="header" style="padding-top: 0px; padding-bottom: 0px;">
        {% if not user.is_authenticated %}
        <img src="{% static 'nvwa_logo.svg'%}" alt="NVWA logo">
        <h1 style="text-align: center; width: 100%; margin-right: 235px;">Kanban bord verwerking importeisen</h1>
        {% else %}
        <img src="{% static 'nvwa_logo.svg'%}" alt="NVWA logo">
        <h1 style="text-align: center;">Kanban bord verwerking importeisen</h1>
        <div class="user-info row justify-content-end" style="margin-right: 20px;">
            <div class="col-4">
                    <bold>{{ user.username }}</bold>
                    {% if user.groups.all %}<span class="user-group">
                    {% for group in user.groups.all %}
                    {{ group.name }}
                    {% endfor %}
                    </span>
                    {% endif %}
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" title="Logout" class="btn">
                    <i class="fa fa-sign-out fa-2x  logout-icon"></i>
                </button>
            </form>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>