{% extends 'base.html' %}

{% block title %}Kanban Board{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Settings Column -->
            <div class="col-lg-3 mt-3" name="settings-colomn">
                <h3>Instellingen</h3>
                <div class="align-items-end settings-column p-3">
                    {% if can_add_task %}
                        <a href="{% url 'add_task' %}" class="btn btn-primary mb-3"><i class="fa fa-plus-circle"></i> Nieuwe taak</a>
                        <br>
                    {% endif %}
                    <a href="{% url 'archive' %}" class="btn btn-secondary mb-3"><i class="fa fa-folder"></i> Archief</a>
                    <br>
                    
                    <!-- Form for Sector Filtering -->
                    <form method="get" class="form-inline mb-3">
                        <label for="sector" class="mr-2">Filter op sector:</label>
                        <select name="sector" id="sector" class="form-control mb-2">
                            <option value="">Alle sectoren</option>
                            {% for sector in sector_choices %}
                                <option value="{{ sector }}" {% if sector == selected_sector %}selected{% endif %}>
                                    {{ sector|title }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary w-100">Toepassen</button>
                    </form>
                    
                    <!-- Button to Show Only Assigned Tasks -->
                    <form method="get" class="mb-3">
                        <input type="hidden" name="my_tasks" value="true">
                        <button type="submit" class="btn btn-info w-100">Toon mijn taken</button>
                    </form>
                    
                    <!-- Button to Clear Filters -->
                    <a href="{% url 'kanban_board' %}" class="btn btn-secondary w-100">Filters wissen</a>
                </div>
            </div>

            <!-- Expertise Column -->
            <div class="col-lg-3 mt-3" name="expertise-column">
                <h3>Expertise</h3>
                <ul class="list-group task-column">
                    {% for task in expertise_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <li class="list-group-item">
                            <strong>Land:</strong> {{ task.country }}<br>
                            <strong>Sector:</strong> {{ task.sector }}<br>
                            <strong>Status:</strong> {{ task.get_status_display }}<br>
                            <strong>Medewerker:</strong> {% if task.assigned_employee != None %} {{ task.assigned_employee }} {% endif %}<br>
                            <strong>Prioriteit:</strong> {{ task.priority }}
                        </li>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Contentbeheer Column -->
            <div class="col-lg-3 mt-3" name="contentbeheer-column">
                <h3>Contentbeheer</h3>
                <ul class="list-group task-column">
                    {% for task in contentbeheer_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <li class="list-group-item">
                            <strong>Land:</strong> {{ task.country }}<br>
                            <strong>Sector:</strong> {{ task.sector }}<br>
                            <strong>Status:</strong> {{ task.get_status_display }}<br>
                            <strong>Medewerker:</strong> {% if task.assigned_employee != None %} {{ task.assigned_employee }} {% endif %}<br>
                            <strong>Prioriteit:</strong> {{ task.priority }}
                        </li>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Notificeren Column -->
            <div class="col-lg-3 mt-3" name="notificeren-column">
                <h3>Notificeren</h3>
                <ul class="list-group task-column">
                    {% for task in notificeren_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <li class="list-group-item">
                            <strong>Land:</strong> {{ task.country }}<br>
                            <strong>Sector:</strong> {{ task.sector }}<br>
                            <strong>Status:</strong> {{ task.get_status_display }}<br>
                            <strong>Medewerker:</strong> {% if task.assigned_employee != None %} {{ task.assigned_employee }} {% endif %}<br>
                            <strong>Prioriteit:</strong> {{ task.priority }}
                        </li>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
