{% extends 'base.html' %}

{% block title %}Kanban Board{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Expertise Column -->
            <div class="col-md-4">
                <h3>Expertise <a href="{% url 'add_task' %}"><i class="fa fa-plus-circle"></i></a></h3>
                <ul class="list-group">
                    {% for task in expertise_tasks %}
                        <li class="list-group-item">
                            <a href="{% url 'view_task' task.id %}">{{ task.title }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Contentbeheer Column -->
            <div class="col-md-4">
                <h3>Contentbeheer</h3>
                <ul class="list-group">
                    {% for task in contentbeheer_tasks %}
                        <li class="list-group-item">
                            <a href="{% url 'view_task' task.id %}">{{ task.title }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Notificeren Column -->
            <div class="col-md-4">
                <h3>Notificeren</h3>
                <ul class="list-group">
                    {% for task in notificeren_tasks %}
                        <li class="list-group-item">
                            <a href="{% url 'view_task' task.id %}">{{ task.title }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
