{% extends 'base.html' %}

{% block title %}Kanban Board{% endblock %}

{% block content %}

    <div class="container" style="max-width: 100%; padding-bottom: 20px; padding-left: 30px; padding-right: 30px;">
        <div class="row gx-5">
            <!-- Settings Column -->
            <div class="col-lg-2 mt-3 settings-column" name="settings-column">
                {% if can_add_task %}
                    <a href="{% url 'add_task' %}" class="btn btn-light mb-3" style="width: 100%;"><i class="fa fa-plus-square"></i> Nieuwe taak</a>
                {% endif %}
                <div class="filter-expansion">
                    <p><i class="fa fa-filter"></i> Filters</p>
                    <form method="get" class="mb-3">
                        <input type="hidden" name="my_tasks" value="true">
                        <button type="submit" class="btn btn-light w-100" style="border: 1px black solid;">Toon alleen mijn taken</button>
                    </form>
                    <!-- Form for Sector Filtering -->
                    <form method="get" class="form-inline mb-3">
                        <select name="sector" id="sector" class="form-control mb-2" style="border: 1px black solid; width: 100%;">
                            <option value="">Alle sectoren</option>
                            {% for sector in sector_choices %}
                                <option value="{{ sector }}" {% if sector == selected_sector %}selected{% endif %}>
                                    {{ sector|title }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="row" style="width: 100%; margin-left: 0px; margin-top: 5px;">
                            <button type="submit" class="col-8 btn btn-primary" style="border: solid 1px #4a4a4a;">Filter</button>
                            <a href="{% url 'kanban_board' %}" class="btn btn-light col-4" style="border: 1px #4a4a4a solid;">
                                <i class="fa fa-times" style="color: #D9534F;"></i>
                            </a>
                        </div>
                    </form>
                </div>
                <br>
                <a href="{% url 'archive' %}" class="btn btn-light mb-3" style="width: 100%;"><i class="fa fa-history"></i> Archief</a>
                <br>
                <div onclick="popUp()" class="popup btn btn-light mb-3" style="width: 100%;"><i class="fa fa-flag"></i> Rondleiding
                    <span class="popuptext" id="myPopup">Coming Soon</span></div>
                <br>
                <a href="/admin" class="btn btn-light mb-3" style="width: 100%;"><i class="fa fa-gear"></i> Instellingen</a>
                <br>
            </div>

            <!-- Expertise Column -->
            <div class="col-lg-3 mt-3 task-column" name="expertise-column">
                <h3 style="text-align: center; color: white;">Expertise</h3>
                <div class="list-group">
                    {% for task in expertise_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <div class="task-header">
                            <p style="align-self: start;">
                                <span class="task-country">{{ task.country }}</span><br>
                                {{ task.description }}
                            </p>
                            <p class="task-priority-status">
                                <span class="task-priority-status-blocks prio">Prioriteit <i class="fa fa-flag task-priority-{{task.priority}}"></i></span><br><br>
                                <span class="task-priority-status-blocks">{{ task.status }}</span>
                            </p>
                        </div>
                        
                        <hr class="task-separator">
                        
                        <div class="task-details">
                            <p>{{ task.sector }}</p>
                            <p class="task-assigned">
                                {% if task.assigned_employee %}
                                <i class="fa fa-user-circle"></i> {{ task.assigned_employee }}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </div>
            </div>

            <!-- Contentbeheer Column -->
            <div class="col-lg-3 mt-3 task-column" name="contentbeheer-column">
                <h3 style="text-align: center; color: white;">Contentbeheer</h3>
                <div class="list-group">
                    {% for task in contentbeheer_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <div class="task-header">
                            <p style="align-self: start;">
                                <span class="task-country">{{ task.country }}</span><br>
                                {{ task.description }}
                            </p>
                            <p class="task-priority-status">
                                <span class="task-priority-status-blocks prio">Prioriteit <i class="fa fa-flag task-priority-{{task.priority}}"></i></span><br><br>
                                <span class="task-priority-status-blocks">{{ task.status }}</span>
                            </p>
                        </div>
                        
                        <hr class="task-separator">
                        
                        <div class="task-details">
                            <p>{{ task.sector }}</p>
                            <p class="task-assigned">
                                {% if task.assigned_employee %}
                                <i class="fa fa-user-circle"></i> {{ task.assigned_employee }}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </div>
            </div>

            <!-- Notificeren Column -->
            <div class="col-lg-3 mt-3 task-column" name="notificeren-column">
                <h3 style="text-align: center; color: white;">Gereed voor DPD</h3>
                <div class="list-group">
                    {% for task in notificeren_tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task" id="{{ task.id }}">
                        <div class="task-header">
                            <p style="align-self: start;">
                                <span class="task-country">{{ task.country }}</span><br>
                                {{ task.description }}
                            </p>
                            <p class="task-priority-status">
                                <span class="task-priority-status-blocks prio">Prioriteit <i class="fa fa-flag task-priority-{{task.priority}}"></i></span><br><br>
                                <span class="task-priority-status-blocks">{{ task.status }}</span>
                            </p>
                        </div>
                        
                        <hr class="task-separator">
                        
                        <div class="task-details">
                            <p>{{ task.sector }}</p>
                            <p class="task-assigned">
                                {% if task.assigned_employee %}
                                <i class="fa fa-user-circle"></i> {{ task.assigned_employee }}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                    {% empty %}
                        <li class="list-group-item">Geen taken</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function popUp() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
{% endblock %}
