{% extends 'base.html' %}

{% block title %}Task Details{% endblock %}

{% block content %}
    <h2>Task Details</h2>
    <p><strong>Column:</strong> {{ task.get_column_display }}</p>
    <p><strong>Country:</strong> {{ task.country }}</p>
    <p><strong>Sector:</strong> {{ task.sector }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Status:</strong> {{ task.get_status_display }}</p>
    <p><strong>Assigned Employee:</strong> {% if task.assigned_employee != None %} {{ task.assigned_employee }} {% endif %}
    <p><strong>Source:</strong> {{ task.source }}</p>
    <p><strong>Coverages:</strong> {{ task.coverages }}</p>

    {% if task.archived %}
        <form action="{% url 'unarchive_task' task.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Unarchive Task</button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Task</button>
        </form>
        <br>
        <br>
        <a href="{% url 'archive' %}" class="btn btn-secondary">Back to Archive</a>
    {% else %}
        <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
        <form action="{% url 'archive_task' task.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Archive Task</button>
        </form>
        <br>
        <br>
        {% if task.column == "expertise" %}
            <a href="{% url 'move_task' task.id 'next' %}" class="btn btn-primary">Move to Contentbeheer</a>
        {% elif task.column == "contentbeheer" %}
            <a href="{% url 'move_task' task.id 'previous' %}" class="btn btn-secondary">Move to Expertise</a>
            <a href="{% url 'move_task' task.id 'next' %}" class="btn btn-primary">Move to Notificeren</a>
        {% elif task.column == "notificeren" %}
            <a href="{% url 'move_task' task.id 'previous' %}" class="btn btn-secondary">Move to Contentbeheer</a>
        {% endif %}
        <br><br>
        <a href="{% url 'kanban_board' %}" class="btn btn-secondary">Back to Homescreen</a>
    {% endif %}

{% endblock %}
